        /* 预置样式 */
*{
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
}
button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}
ul li{
    list-style-type: none;
}
body{
    background: #E8E8E8;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: 100%;*/
}


/* 导航栏区域 */
header{
    width: 800px;
    margin: 30px auto 0;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px black;
}
.bt1{
    margin: 20px auto 0;
    width: 800px;
}
.bt1 button{
    width: 100px;
    height: 40px;
    border: solid 5px black;
    font-weight: bold;
    font-size: smaller;
    line-height: 100%;
    padding: 0;
    border-radius: 10px;
}


/* 表格区域 */
main{
    margin: 10px auto;
    padding: 20px;
    /*background-color: aquamarine;*/
    width: 750px;
    border: solid 5px black;
    border-radius: 10px;
}
.folder{
    width: 100%;
    height: 50px;
    /*background-color: greenyellow;*/
    text-align: left;
    line-height: 100%;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
    border: solid 4px black;
    border-radius: 10px;
}
.name{
    display: none;
    height: 45px;
    /*background-color: yellow;*/
    margin-left: 50px;
    width: 700px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
        border: solid 3px black;
    border-radius: 10px;
}


